@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.header {
    justify-content: center;
    margin: auto;
    background-color: #F6F6F9;
    padding-bottom: 25px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}

.header_logo_text {
    background-color: #1E96C8;
    color: white;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 7px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.header__text {
    color: #295091;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0;
}

.header__text_2 {
    margin-right: 20px;
    color: #797979;
}

.telegram_logo {
    width: 20px;
    height: 20px;

}

.header__text_2 {
    gap: 17px;
}

.header__social {
    display: flex;
    justify-content: space-between;
    background-color: #ffffffff;
    gap: 24px;
    margin-top: 49px;
    flex-wrap: wrap;
    color: #515151;
    padding: 25px;
    font-weight: 500;
    font-size: 19px;
    line-height: 100%;

}

.img____logo {
    max-width: 1200px;
    width: 100%;
    border: 1px solid black;
    margin-top: 12px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.header_left_inner {
    display: flex;
    align-items: center;
    gap: 17px;
}

.header_input {
    width: 127px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    border-radius: 5px;
    border: none;
    padding: 15px
}

::placeholder {
    color: #CCCCCC;
}
.text_1{
    font-weight: 500;
    font-size: 19px;
    line-height: 100%;
    color: #295091;
}

.header_search {
    padding: 9px;
    background-color: #FFFFFF;

}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #535353;
}


.header_menu {
    padding: 11px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact > h2 {
    margin-top: 17px;
}

.contact {
    max-width: 600px;
    width: 100%;
}

.contact_form {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #888888;
    gap: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 12px;
    border-radius: 5px;
}

.contact_input {
    border-radius: 5px;
}

.contact_form > input {
    width: 100%;
    height: 50px;
    border: 1px solid #888888;
    padding: 15px;
}

.main_input {
    color: #888888;
    width: 100%;
    height: 307px;
    padding: 15px;
    border-radius: 5px;
}

.main_textarea {
    max-width: 100%;
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    color: #888888;
    border: 1px solid #888888;
    border-radius: 5px;
}

.main_img {
    position: absolute;
    top: 7px;
    right: 10px;
}

.input_file {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

input[type="file"] {
    display: none;
}

.main_span {
    padding: 16px;
    margin-top: 15px;
}

.header__span {
    color: black;
    font-weight: 400;
    font-size: 23px;
    line-height: 100%;

}

.main__textarea {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main__input {
    border-radius: 5px;
    padding: 16px;
}

.main_button {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    max-width: 221px;
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: #295093;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
}

.contact_form_1 {
    border-radius: 5px;
    border: 2px solid #BCC3CD;
    padding: 23px;
    -webkit-box-shadow: -8px 9px 8px -1px rgba(41, 80, 145, 0.2);
    -moz-box-shadow: -8px 9px 8px -1px rgba(41, 80, 145, 0.2);
    box-shadow: -8px 9px 8px -1px rgba(41, 80, 145, 0.2);
    margin-top: 55px;
    max-width: 800px;
    width: 100%;

}

.contact_img {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
   display: flex;
    margin-left: auto;
}

.contact_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #888888;

}

.contact__text {
    font-size: 16px;
    color: #888888;
    margin-top: 30px;
}

.contact__text_email {
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    color: #888888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.contact__text_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__text_2 {
    margin-top: 26px;
}

.contact__button_1 {

    color: #FFFFFF;
    padding: 8px;
}

.button {
    background-color: #295091;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 8px;
    gap: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    margin-top: 17px;
}

.contact_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact_finish {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__finish {
    margin-top: 18px;
    gap: 13px

}

.contact_1 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 16px;
}

@media screen  and (max-width: 854px) {
    .contact_1 {
        flex-direction: column;
    }

    .contact {
        max-width: 100%;
    }

    .contact_form_1 {
        max-width: 100%;
    }
}
.footer{
    background: #295093;
    margin-top: 38px;
    padding: 18px 0 13px 0;
}
.footer_h2{
    background: #133C82;
    color: #FFFFFF;
    padding: 11px 12px 6px 9px;
    max-width: 194px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    border-radius: 5px;
    gap: 10px;
}
.text_footer{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
}
.footer_btn{
    padding: 9px 11px 9px 9px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #295093;
    border: none;
}
.footer__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.footer__div{
    display: flex;
    gap: 17px;
    align-items: center;
}
.footer_hr{
    max-width: 1200px;
    width: 100%;
    height: 3px;
    margin-top: 26px;
    background: #133C82;
    border: none;
}
.div_footer_p{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.footer_li{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 12px;
    list-style: none;
}
.footer__div_p{
    display: flex;
    gap: 113px;
    margin-top: 12px;
}
.footer_ul_li{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.header_burger{
    display: none;
}

@media screen and (max-width: 1050px) {
    .header__text{
        display: none;
    }
    .header_input{
        display: none;
    }
    .header_search{
        display: none;
    }
    .header_menu{
        display: none;
    }
    .header_logo_text{
        display: none;
    }
    .header_burger{
        display: block;
    }
}
@media  screen and (max-width: 510px) {
    .contact__text_email{
        flex-direction: column;
        margin-top: 20px;
    }
    .contact__text_1{
        flex-direction: column;
    }
    .contact_button{
        flex-direction: column ;
    }
    .contact_finish{
        flex-direction: column;
    }
    .contact_img{
        margin-right: 60px;
    }
}
@media screen and (max-width: 990px) {
    .footer__text{
        flex-direction: column;
    }
    .text_footer{
        flex-direction: column;
    }
   .footer__div{
       flex-direction: column;
   }
   .footer__div_p{
       flex-direction: column;
       margin-left: 350px;
       gap: 40px;
   }
}